target/
**/*.rs.bk
.idea
*.iml
.vscode
docker/resources/deploy
docker/resources/envs/.env
node_modules
yarn.lock
lcov.info
benchmarking_errors.txt
.env
src/fflonk/circuit/data
src/groth16/circuit/data
src/boojum/data
src/boojum/target
src/boojum/output.log
src/repos
src/risc0/.DS_Store
src/risc0/Cargo.lock
src/risc0/methods/guest/Cargo.lock
src/risc0/target
src/risc0/data
dist/
