target/
**/*.rs.bk
.idea
*.iml
.vscode
docker/resources/deploy
docker/resources/envs/.env
node_modules
yarn.lock
e2e-tests/bin
lcov.info
benchmarking_errors.txt
.env
rpc-tests/node_modules
rpc-tests//reports
test-report-*.html
e2e-tests/services/zkVerify
e2e-tests/services/nh-attestation-bot
e2e-tests/services/zkv-attestation-contracts
